{% load static %}

<script src="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/user-management/users/list/table.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/user-management/users/list/export-users.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/user-management/users/list/add.js' %}"></script>

<script src="{% static 'assets/js/widgets.bundle.js' %}"></script>
<script src="{% static 'assets/js/custom/widgets.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/chat/chat.js' %}"></script>
<script src="{% static 'assets/js/custom/utilities/modals/users-search.js' %}"></script>

